            * {
                margin: 0;
                padding: 0;
                text-decoration: none;
                list-style: none;
            }
            /* ====== Header ====== */
            
            header {
                width: 100%;
                height: 800px;
                background: url('../images/Slider_image.jpg') no-repeat center center / cover;
            }
            
            header .header_top .navbar .navbar-brand img {
                width: 150px;
                height: 60px;
            }
            
            header .header_top .navbar-light {
                color: white !important;
            }
            
            header .header_top .navbar .nav .nav-item .nav-link {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 14px !important;
                color: #ffffff !important;
                padding-bottom: 0 !important;
                text-transform: uppercase;
                transition: 2s;
            }
            
            header .header_top .navbar .nav .nav-item .nav-link:hover::after {
                content: "";
                display: block;
                width: 50%;
                height: 3px;
                background: #FF8800;
                border-radius: 3px;
            }
            
            header .header_top .navbar .reg .sign_in {
                padding: 9px 14px;
                background: transparent;
                border: 3px solid #FF8800;
                border-radius: 5px;
                display: inline-block;
                text-decoration: none;
                color: #ffffff;
                font-size: 14;
                text-transform: uppercase;
                transition: 500ms;
            }
            
            header .header_top .navbar .reg .sign_in:hover {
                background: #FF8800;
            }
            
            header .header_top .navbar .reg .sign_out {
                padding: 10px 14px;
                background: #FF8800;
                color: #ffffff;
                border-radius: 5px;
                margin-left: 22px;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                border: 3px solid #FF8800;
                transition: 500ms;
            }
            
            header .header_top .navbar .reg .sign_out:hover {
                background: transparent;
                color: #FF8800;
            }
            
            header .header_top .swiper-slide h1 {
                color: #ffffff;
                font-size: 60px;
                font-weight: 700;
                font-family: 'Poppins';
            }
            
            header .header_top .swiper-slide h1 span {
                color: #FF8800;
            }
            
            header .header_top .swiper-slide .header_cource {
                display: flex;
            }
            
            header .header_top .swiper-slide .header_cource p {
                color: #ffffff;
                font-size: 20px;
                font-weight: 400;
                font-family: 'Poppins';
                margin-right: 5px;
            }
            
            header .header_top .swiper-slide p {
                color: #ffffff;
                font-weight: 400;
                font-size: 14px;
                font-family: 'Ubuntu', sans-serif;
                line-height: 30px;
            }
            
            header .header_top .swiper-slide img {
                width: 100%;
                height: 100%;
            }
            
            header .header_top .swiper-slide .slider_link {
                display: flex;
                width: 122px;
                height: 36px;
                background: #FF8800;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: #ffffff;
                font-size: 13px;
                font-weight: 400;
                font-family: 'Ubuntu', sans-serif;
                border-radius: 3px;
            }
            
            .swiper-pagination-bullet {
                width: 30px !important;
                height: 10px;
                background: #FF8800;
                border-radius: 10px !important;
                margin-top: 10px !important;
            }
            
            @media screen and (max-width: 575px) {
                header .header_top .swiper-slide img {
                    width: 100%;
                    height: 350px !important;
                }
                .swiper-pagination {
                    position: absolute;
                    bottom: 10px !important;
                }
            }
            
            @media screen and (max-width: 767px) {
                header .header_top .swiper-slide .header_cource p {
                    margin-bottom: 5px;
                }
                header .header_top .swiper-slide p {
                    line-height: 20px;
                    margin-bottom: 10px;
                }
                header .header_top .swiper-slide img {
                    width: 90%;
                    height: 90%;
                }
            }
            
            @media screen and (max-width: 991px) {
                header .header_top .swiper-slide h1 {
                    font-size: 40px !important;
                }
                header .header_top .swiper-slide p {
                    line-height: 24px;
                    margin-bottom: 10px;
                }
                header .header_top .swiper-slide .header_cource p {
                    font-size: 18px;
                }
                .swiper-pagination {
                    position: relative;
                    bottom: 10px !important;
                }
                /* section .about_profession h1 {
                font-size: 28px !important;
            }
            section .about_profession p {
                line-height: 25px !important;
                color: red;
            } */
            }
            /* Section */
            
            section .result {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Montserrat', sans-serif;
            }
            
            section .result img {
                max-width: 64px;
                max-height: 64px;
                margin-right: 16px;
            }
            
            section .result h3 {
                font-size: 24px;
                font-weight: 500;
                color: #FF8800;
                margin-bottom: 0;
            }
            
            section .result p {
                font-size: 12px !important;
                font-weight: 500;
                margin-bottom: 0;
                color: #707070;
            }
            
            section .about_cource {
                display: flex;
                justify-content: flex-end;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            section .about_cource .play {
                position: absolute;
            }
            
            section .about_profession .about_icon {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            
            section .about_profession .about_icon p {
                color: #707070;
                font-size: 20px;
                font-weight: 500;
            }
            
            section .about_profession .about_icon p::before {
                content: "";
                display: block;
                max-width: 350px;
                height: 4px;
                background: #55059B;
                border-radius: 2px;
                margin-bottom: 10px;
            }
            
            section .about_profession .about_icon p::after {
                content: "";
                display: block;
                max-width: 128px;
                height: 4px;
                background: #55059B;
                border-radius: 2px;
                margin-top: 10px;
            }
            
            section .about_profession h1 {
                color: #707070;
                font-size: 33px;
                font-weight: 700;
            }
            
            section .about_profession p {
                color: #707070;
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
            }
            
            .start__read {
                text-decoration: none !important;
                display: inline-block !important;
                width: 40%;
                padding: 12px 0px;
                background-image: linear-gradient(to right, #F27E0B, #78207A);
                color: #ffffff !important;
                font-size: 14px;
                font-weight: 500;
                border-radius: 3px;
                text-align: center;
            }
            
            .about__read {
                width: 40%;
                background: transparent;
                border: 2px solid #55059B;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                border-radius: 3px;
                text-align: center;
                padding: 10px 0;
                color: #55059B;
                transition: 500ms;
            }
            
            .about__read:hover {
                background: #FF8800;
                color: #ffffff;
                border: 2px solid #FF8800;
                text-decoration: none;
            }
            /* Main */
            
            main {
                background: #F6F6F6;
            }
            
            main .news {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            main .news .news_cource {
                display: flex;
                align-items: center;
            }
            
            main .news .news_cource h3 {
                color: #707070;
                font-size: 25px;
                font-weight: 500;
                text-transform: uppercase;
                margin-left: 12px !important;
                margin-bottom: 0 !important;
            }
            
            main .news .courses {
                text-decoration: none;
                color: #55059B;
                padding: 10px 17px;
                border: 2px solid #55059B;
                border-radius: 3px;
                font-size: 13px;
                font-weight: 500;
                background: transparent;
                transition: 500ms;
                width: 90px;
                text-align: center;
            }
            
            main .news .courses:hover {
                background: #55059B;
                color: #ffffff;
            }
            
            main .card {
                border-radius: 10px !important;
                position: relative;
            }
            
            main .card .new {
                padding: 7px 0;
                background: #FF8800;
                width: 45px;
                font-size: 14px;
                font-weight: 500;
                position: absolute;
                top: 8%;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
                color: #ffffff;
            }
            
            main .card .new_two {
                padding: 5px 0;
                background: #FF8800;
                width: 40px;
                font-size: 12px;
                font-weight: 500;
                position: absolute;
                top: 6%;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
                color: #ffffff;
            }
            
            main .card .card-body {
                position: relative;
            }
            
            main .card .card-body .course_position {
                width: 65px;
                height: 65px;
                position: absolute;
                top: -35px;
                right: 20px;
            }
            
            main .card .card-body p {
                color: #707070;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 10px !important;
            }
            
            main .card .card-body .card-title {
                color: #000000;
                font-size: 24px;
                font-weight: 500;
            }
            
            main .card .card-body .card-text {
                color: #707070;
                font-size: 12px;
                font-weight: 100;
                /* font-family: 'Montserrat', sans-serif; */
                font-family: 'Ubuntu', sans-serif;
            }
            
            main .card .news_lesson {
                display: flex;
                display: inline;
            }
            
            main .card .news_lesson img {
                max-width: 18px;
                height: 18px;
                margin-right: 12px;
            }
            
            main .card .news_lesson a {
                text-decoration: none;
                color: #707070;
                font-size: 16px;
                font-weight: 500;
            }
            /* ======== */
            
            main .card .card-body .fa {
                display: inline-block;
                width: 12px;
                height: 12px;
                color: #FF8800;
            }
            
            main .card .card-body .card-title_star {
                font-size: 18px;
                font-weight: 500;
                color: #000000;
            }
            
            main .card .card-body .news_icon {
                font-size: 12px;
                font-weight: 500;
                display: block;
            }
            
            main .card .card-body .news_icon img {
                margin-right: 5px !important;
            }
            /* В ЧЕМ НАШИ ПРЕИМУЩЕСТВА */
            
            .interactiv_title {
                display: flex;
                align-items: center;
            }
            
            .interactiv_title h3 {
                margin-bottom: 0 !important;
                margin-left: 20px;
                color: #707070;
                font-size: 25px;
                font-weight: 500;
            }
            
            .wrapper .interactiv {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .wrapper .interactiv .title {
                margin-left: 12px;
            }
            
            .wrapper .interactiv .title h4 {
                font-size: 20px;
                color: #707070;
                font-weight: 500;
                margin-bottom: 0 !important;
            }
            
            .wrapper .interactiv .title p {
                color: #707070;
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 0 !important;
            }
            /* section */
            
            .section {
                width: 100%;
                background: #F6F6F6;
            }
            
            .section .left h2 {
                color: #707070;
                font-size: 36px;
                font-weight: 700;
                font-family: 'Gotham', 'Sans', serif;
                margin-bottom: 22px;
            }
            
            .section .left p {
                font-size: 20px;
                color: #707070;
                font-weight: 500;
                font-family: 'Gotham', 'Sans', serif;
                margin-bottom: 34px;
                line-height: 30px;
            }
            
            .section .left a {
                color: #55059B;
                text-decoration: none;
                font-size: 20px;
                font-weight: 500;
            }
            
            @media(min-width: 768px) and (max-width: 991px) {
                .section .left h2 {
                    font-size: 30px;
                    margin-bottom: 0 !important;
                }
                .section .left p {
                    font-size: 16px;
                    margin-bottom: 0 !important;
                }
                .section .left a {
                    font-size: 16px;
                    margin-bottom: 0 !important;
                }
            }
            
            @media(min-width: 576px) and (max-width: 768px) {
                .section .left h2 {
                    font-size: 26px;
                    margin-bottom: 0 !important;
                }
                .section .left p {
                    font-size: 16px;
                    margin-bottom: 0 !important;
                }
                .section .left a {
                    font-size: 16px;
                    margin-bottom: 0 !important;
                }
            }
            /* Active  */
            
            .active_t .img_user {
                width: 100%;
                background: url('../images/bg_active.svg') no-repeat center center / cover;
                text-align: center;
                border: transparent;
                padding-top: 30px;
                padding-bottom: 15px;
                position: relative;
            }
            
            .active_t .img_user .img_border {
                max-width: 132px;
                height: 135px;
                margin: auto;
                border: 3px solid #FF8800;
                position: relative;
            }
            
            .active_t .img_user .img_border img {
                position: absolute;
                top: -10px;
                left: -12px;
            }
            
            .active_t .img_user .img_border img:nth-child(2) {
                position: absolute;
                top: -20px;
                left: -25px;
            }
            
            .active_t .img_user i {
                color: #ffffff;
                font-size: 22px;
                font-weight: 100;
                font-family: 'Gill Sans MT';
                display: block;
            }
            
            .active_t .img_user h3 {
                color: #ffffff;
                font-size: 36px;
                font-weight: 500;
                font-family: 'Gotham';
            }
            /* ============= */
            
            .active_t .news_sms {
                width: 100%;
                padding: 10px 0 0 20px;
                display: flex;
                align-items: center;
                background: linear-gradient(to right, #985BA9 10%, #EE9E5A 100%);
                border: transparent;
            }
            
            .active_t .news_sms .sms_border {
                width: 48px !important;
                height: 48px;
                border: 2px solid #FF8800;
                position: relative;
                background: transparent;
            }
            
            .active_t .news_sms .sms_border a .img {
                position: absolute;
                top: -6px;
                left: -4px;
                width: 100%;
            }
            
            .active_t .news_sms .sms_border img {
                position: absolute;
                top: -13px;
                left: -11px;
                z-index: 22;
            }
            
            .active_t .news_sms .name p {
                margin-bottom: 0;
                font-size: 17px;
                font-weight: 500;
                color: #ffffff;
                font-family: 'Gotham';
            }
            
            .active_t .news_sms .name h3 {
                color: #ffffff;
                font-size: 20px;
                font-weight: 500;
                font-family: 'Gotham';
            }
            /* footer */
            
            footer .footer {
                width: 100%;
                background: #3A3F44;
            }
            
            footer .footer .footer_bottom {
                background: #FF8800;
                padding: 30px 0;
            }
            
            footer .footer .footer_bottom p {
                margin-bottom: 0;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Montserrat', sans-serif;
            }
            
            footer .footer .footer_logo .foot_logo {
                width: 150px;
                height: 60px;
            }
            
            footer .footer .footer_logo p {
                color: #B7B7B7;
                font-size: 16px;
                font-weight: 500;
                font-family: 'Gotham';
                /* margin-top: 34px; */
                line-height: 23px;
            }
            
            footer .footer .footer_logo .russion {
                display: block;
                width: 115px;
                padding: 10px 16px 7px 16px;
                background: transparent;
                border: 3px solid #F88400;
                border-radius: 3px;
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                font-family: 'Gotham';
                margin-top: 30px;
                transition: 500ms;
            }
            
            footer .footer .footer_logo .russion:hover {
                background: #F88400;
                color: #ffffff;
            }
            
            footer .footer .all_link h3 {
                color: #ffffff;
                font-size: 20px;
                font-weight: 700;
                font-family: 'Gotham';
                text-transform: uppercase;
            }
            
            footer .footer .nav-link {
                padding: 6px 16px !important;
                color: #B7B7B7;
                font-size: 16px;
                font-weight: 500;
                font-family: 'Gotham';
            }
            
            footer .footer .footer_cource h3 {
                color: #ffffff;
                font-size: 20px;
                font-weight: 700;
                font-family: 'Gotham';
                text-transform: uppercase;
            }
            
            footer .footer .question p {
                color: #ffffff;
                font-size: 20px;
                font-weight: 700;
                font-family: 'Gotham';
            }
            
            footer .footer .question a {
                display: block;
                width: 100%;
                padding: 10px 0;
                border: 3px solid #F88400;
                text-align: center;
                text-decoration: none;
                color: #ffffff;
                border-radius: 3px;
                font-size: 16px;
                font-weight: 500;
                font-family: 'Gotham';
                letter-spacing: 1px;
                margin-bottom: 10px;
                transition: 500ms;
            }
            
            footer .footer .question a:hover {
                background: #F88400;
                cursor: pointer;
            }
            
            footer .footer .question .footer_icon i {
                display: inline-block;
                color: #ffffff;
                font-size: 30px;
                margin-right: 25px;
                margin-top: 10px;
                cursor: pointer;
            }
            
            .fixed {
                position: fixed;
                right: 10px;
                bottom: 30px;
                width: 40px;
                height: 40px;
                background: #3A3F44;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;
                opacity: 0.7;
            }
            
            .fixed a {
                display: block;
                color: #F88400;
                font-size: 20px;
            }